* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/* Got rid of and consolidated a lot of bloated code, and really unneccesary stylings. Both the background and the SEO of Horiseon were styled to a very light grey, so I changed those to white.
*/

/* All font family tags had 6 or so font choices, but only three are really needed.
*/

header {
    padding: 20px;
    font-family: 'Trebuchet MS', Arial, sans-serif;
    background-color: #2a607c;
    color: #ffffff;
}

h1 {
    display: inline-block;
    font-size: 48px;
}

/* Changed and removed a lot of class tags in the html that were redundant, so I applied the CSS values to their html element accordingly.
*/

/* Here I turned the unordered list into a simple nav element.
*/

nav {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: 'Gill Sans', Calibri, sans-serif;
    font-size: 20px;
}

a {
    color: #ffffff;
    text-decoration: none;
    margin-right: 10px;
    margin-left: 10px;
}

p {
    font-size: 16px;
}

/* Added the image that was referenced here to the html side of the code
*/

#main {
    height: 800px;
    width: 100%;
    margin-bottom: 25px;
    background-size: cover;
    background-position: center;
}

section {
    width: 75%;
    display: inline-block;
    margin-left: 20px;
}

h2 {
    margin-bottom: 20px;
    font-size: 36px;
}

/* Shorthanded these id tags as they were needlessly long.
*/

#seo, #orm, #smm {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', Calibri, sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}

#seo img, #orm img, #smm img {
    max-height: 200px;
}

.float-left {
    float: left;
    margin-right: 25px;
}

.float-right {
    float: right;
    margin-left: 25px;
}

aside {
    margin-right: 20px;
    padding: 20px;
    clear: both;
    float: right;
    width: 20%;
    height: 100%;
    font-family: 'Gill Sans', Calibri, sans-serif;
    background-color: #2589bd;
    margin-bottom: 32px;
    color: #ffffff;
}

h3 {
    margin-bottom: 10px;
    text-align: center;
}

.lead img, .brand img, .cost img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}

footer {
    padding: 30px;
    clear: both;
    font-family: 'Trebuchet MS', Arial, sans-serif;
    text-align: center;
}